name: Label PR
on: 
  pull_request_target:

jobs:
  labels:

    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
      pull-requests: write
    if: github.repository == 'axleshift/core1'

    steps:
    - uses: actions/checkout@v4
      with:
        repository: "freight-capstone/core1"
    - uses: actions/labeler@v5
      with:
        repo-token: "${{ secrets.API_TOKEN_GITHUB }}"
        configuration-path: '.github/labeler.yml'
