// Here you can add other styles
/*
 * THE Loading Overlay
 */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    padding-top: 3%;
    z-index: 100000;
}

/*
 * customize scrollbar
 */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #212631;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #323a49;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323a49;
}

/*
 * image for freight
 */
.image-container {
    height: 555px;
    display: flex;
    align-items: stretch;
}

.custom-image {
    height: auto;
    width: auto;
    object-fit: cover;
}

/*
 * timeline for tracking page
 */
.timeline {
    position: relative;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-left: 2px solid rgba(98, 97, 204);
}

.timeline-event {
    position: relative;
}

.timeline-event::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: rgba(98, 97, 204);
    border-radius: 50%;
}

/*
 * OTP thats an O with TP
 */
.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*
 * auth background
 */
.auth-bg {
    background-image: url(/images/background.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

/*
 * landing page
 */
.landing-page {
    position: relative;
    background: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(39, 39, 39, 0.508);
    z-index: 1;
}

.landing-page>* {
    position: relative;
    z-index: 99;
}

.landing-page h1,
.landing-page p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.blurred {
    filter: blur(5px);
}

.my-masonry-grid {
    display: flex;
    margin-left: -15px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 14px;
    background-clip: padding-box;
}

.p-navbar {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.table-header-cell-no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}