// Here you can add other styles
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    padding-top: 3%;
    z-index: 999;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #212631;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #323a49;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323a49;
}