// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$modal-header-border-width: 0px;
$modal-footer-border-width: 0px;